body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
    height: 100vh;
}

#frame {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem;
    height: 90%;
    width: 90%;
    max-height: 42rem;
    max-width: 42rem;
    margin: 1rem;
    background-color: silver;
    border-color: black;
}

#screen {
    background-color: darkolivegreen;
    margin: 0px;
    padding: 5px;
    height: 90%;
    max-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
}

#history {
    opacity: 80%;
    font-size: 1.7rem;
    word-break: break-all;
}

#answer {
    font-size: 2rem;
    font-weight: bold;
    word-break: break-all;
}

#controls {
    display: flex;
    gap: 1rem;
}

#clear {
    height: 2rem;
    width: 21rem;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: lightblue;
}

#delete {
    height: 2rem;
    width: 21rem;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: lightblue;
}

#numberPad {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.row {
    display: flex;
    height: 90%;
    width: 100%
}