body {
    display: flex;
    justify-content: center;
    background-color: coral;
}

#frame {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    height: 650px;
    width: 550px;
    background-color: silver;
    border-color: black;
}

ol {
    background-color: darkolivegreen;
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    height: 150px;
    text-align: end;
}

#history {
    opacity: 80%;
    font-size: 25px;
}

#answer {
    font-size: 30px;
    font-weight: bold;
}

#controls {
    display: flex;
    gap: 10px;
}

#clear {
    height: 75px;
    width: 270px;
    font-weight: bold;
    font-size: 25px;
    background-color: lightblue;
}

#delete {
    height: 75px;
    width: 270px;
    font-weight: bold;
    font-size: 25px;
    background-color: lightblue;
}

#numberPad {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
}